<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Quiz Edav</title>
    </head>
  <body>
    <h2>Jugando a Quiz, pregunta <%= req.session.user.played+1 %> de <%= quizes.length %></h2>

    <% if (quiz.image) { %>
      <p><img class="quiz_img" src="/media/<%= quiz.image %>"></p>
    <% } %>

    <form method="get" action="/quizes/play">
      Pregunta: <%= quiz.pregunta %> <p>
        <input type="text" name="respuesta" placeholder="Responda aquí" autofocus="autofocus"/>
        <input type="hidden" name="bandera" value="true"/>
        <input type="submit" value="Enviar"/>
    </form>

    <p><button onclick="pistear()">Pedir pista</button></p>
    <span id="pista"></span>
    <style>
    #pista {
      color: green;
      font-style: italic;
    }
    </style>

    <script>
    function pistear() {
      if (document.getElementById("pista").innerHTML === "") {
        document.getElementById("pista").innerHTML = "Primera letra: <%= quiz.respuesta[0] %>";
      }
      else if (<%= quiz.respuesta.length %> >= 2) {
        document.getElementById("pista").innerHTML = "Primeras letras: <%= quiz.respuesta[0] %><%= quiz.respuesta[1] %>";
      }
    }
    </script>

     <br><form method="get" action="/quizes/play">
         <input type="hidden" name="stop" value="true"/>
         <input type="submit" value="Terminar juego :("/>
     </form>

  </body>
</html>
